<template name="index">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="page-header">
        <h1><small>{{category}} Books</small></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{#if category}}
        <div class="row">
          {{#if numBooks}}
            {{#each books}}
              {{> bookInfo}}
            {{/each}}
          {{else}}
            <div class="page-header text-center">
              <h1><small>No books in this category.</small></h1>
            </div>
          {{/if}}
        </div>
      {{else}}
        <div class="page-header text-center">
          <h1><small>Select a category.</small></h1>
        </div>
      {{/if}}
    </div>
  </div>
</template>