* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

form, input, button {
  display: block;
}