<template name="askProblem">
  <header>
      <h1>ASK FIVE WHYS</h1>
  </header>

  <div class="content">
    <div class="problem hidden">
    </div>
    <input id="txt-problem" type="text" placeholder="What's the problem" value="{{currentProblemTitle}}">
    <input id="btn-route" type="button" value="Find Its Route">
  </div>
</template>

<template name="askWhy">
  <header>
      <h1>Why #{{currentStage}} ?</h1>
  </header>

  <div class="content">
    <div class="problem">
      <p>{{previousStageResult}}</p>
    </div>
    <input id="txt-answer" type="text" placeholder="Because ..." value="{{currentAnswer}}">
    <input id="btn-answer" type="button" value="Answer #{{currentStage}}">

    {{> backButton}}
  </div>

</template>

<template name="askSolution">
  <header class="hidden">
    <h1>Solution</h1>
  </header>

  <div class="content">
    {{#with currentProblem}}
      <div class="problem">
        <p>Problem - {{problem}}</p>
      </div>

      <div class="answers">
        {{#each answerWithPrompt}}
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/with}}

    <form>
      <input id="txt-solution" name="solution" type="text" placeholder="What could be the best solution?">
      <input id="submit-answer" type="submit" value="Answer">
    </form>

    {{> backButton}}
  </div>

</template>

<template name="backButton">
  <button id="btn-back" type="button">
    <h1>
      Back
    </h1>
  </button>
</template>